<?xml version="1.0" encoding="UTF-8"?>
	
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- 해당 Mapper파일과 interface와의 연결을 위해 namespace를
설정한다. 이때 패키지명을 포함한 클래스의 전체경로를 기술해야한다. --> 
<mapper namespace="mybatis.ServiceMyMember">

	<!-- 아이디, 패스워드를 통해 select한 결과 레코드를 DTO객체에
	담아 저장한다. -->
	<select id="login" resultType="mybatis.MyMemberDTO">
		SELECT * FROM member WHERE id=#{param1} and pass=#{param2}
	</select>

	<select id="dupid" resultType="mybatis.MyMemberDTO">
		SELECT id from member where id=#{param1}
	</select>
	
	
	<insert id="register">
		INSERT INTO member (id, name, pass)
		VALUES
		(#{_id_}, #{_name_}, #{_pass_})
	</insert>
	
	<update id="idmodify">
		UPDATE member
		SET name=#{__name}, pass=#{__pass}
		WHERE id=#{__id} 
	</update>
	
	<select id="idview" resultType="mybatis.MyMemberDTO">
		SELECT * FROM member WHERE id=#{user_id}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId" resultType="mybatis.MyMemberDTO">
		SELECT id FROM member WHERE name = #{param1}
	</select>
	
	<!-- 비밀번호 찾기 -->	
	<select id="findPass" resultType="mybatis.MyMemberDTO">
		SELECT pass FROM member WHERE id = #{param1} AND name=#{param2} 
	</select>
	
	<!-- 비밀번호 수정 -->
	<update id="passCheck">
		UPDATE member SET pass=#{param3}, name=#{param2} WHERE id=#{param1}
	</update>
	
	<!-- 아이디에 해당하는 회원 정보 출력 -->
	<select id="memberInfo" resultType="mybatis.MyMemberDTO">
		SELECT * FROM member WHERE id = #{param1}
	</select>
	
</mapper>

